 //Buttons
 .button-filled{
    border: 1px solid $primary-blue;
    background-color: $primary-blue;
    border-radius: 64px;
    color: $white;
    a{
        color: $white;
    }
    &:hover{
        color: $primary-blue;
        background-color: #fff;
        a{
            color: $primary-blue;

        }
    }

    &:active{
        color: $blue-dark;
        background-color: #fff;

        a{
            color: $blue-dark;
        }
        
    }
    &:disabled{
        background-color: $black-10;
        border: 1px solid $black-10;
        color: $black-25;
        a{
            color: $black-25;
        }
    }
 }

 .button-empty{
    border: 1px solid $primary-blue;
    border-radius: 64px;
    color: $primary-blue;
    a{
        color: $primary-blue;
    }

    &:hover{
        color: $white;
        background-color: $primary-blue;
        a{
            color: $white;

        }
    }

    &:active{
        color: $white;
        background-color: $blue-dark;

        a{
            color: $white;
        }
        
    }

    &:disabled{
        background-color: $black-10;
        border: 1px solid $black-10;
        color: $black-25;
        a{
            color: $black-25;
        }
    }

 }
