//LIGHT

//Neautrals
$background: #FAFBFC;
$black: #050824;
$black-75: #44465B;
$black-50: #828391;
$black-25: #C1C1C8;
$black-10: #E6E6E9;
$black-5: #F3F3F4;
$black-5-60: rgba($color: $black-5, $alpha: .6);

//Primary
$primary-blue: #387EE5; 
$primary-green: #13CE74; 

//Gradients
$primary-blue-gradient: linear-gradient(135deg, #448EFF 0%, #2066CD 100%);
$primary-green-gradient: linear-gradient(135deg, #1EED89 0%, #12C06D 100%);
$primary-gray-gradiemt: linear-gradient(180deg, #686A7B 0%, #5E6074 100%);

//Secondary
$red-01: #E45B4E; 
$red-02: #F86355;
$red-03: #FFD2D2;
$yellow-01: #E5B53A;
$yellow-02: #FBC63F;
$yellow-03: #FFEFC8;
$green-01: #2AB168;
$green-02: #32C37D;
$green-03: #C9F1E0;
$blue-01: #286CBC;
$blue-02: #2B77D2;
$blue-03: #D8EAFF;

//DARK
