//Neautrals
$white: #F8F8FF;
$black: #03041B;
$black-75: #424354;
$black-50: #81818D;
$black-25: #C0C0C6;
$black-10: #E6E6E8;
$black-5: #F2F2F4;
$black-5-60: rgba($color: $black-5, $alpha: .6);


//Primary
$primary-blue: #2d4ef2; 
$primary-yellow: #FFD338; 

//Secondary
$secondary-blue: #5259e3; 
$blue-bg: rgba($color: $primary-blue, $alpha: .08);

//Additional
$error: #F86355;

//Shadows
$shadow-main: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

