//Neautrals
$white: #F8F8FF;
$black: #03041B;
$black-75: #424354;
$black-50: #81818D;
$black-25: #C0C0C6;
$black-10: #E6E6E8;
$black-5: #F2F2F4;
$black-5-60: rgba($color: $black-5, $alpha: .6);


//Primary
$primary-blue: rgb(39, 72, 238); 
$primary-yellow: #fdd33c; 

//Secondary
$secondary-blue: #5259e3; 
$blue-bg: rgba($color: $primary-blue, $alpha: .08);

//Additional
$blue-dark: rgb(33, 64, 216);
$error: #F86355;

//Shadows
$shadow-main: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
$shadow-secondary: 0px 0.33207px 0.6088px 0px rgba(61, 63, 79, 0.01), 0px 0.79801px 1.46302px 0px rgba(61, 63, 79, 0.01), 0px 1.50259px 2.75474px 0px rgba(61, 63, 79, 0.01), 0px 2.68036px 4.91399px 0px rgba(61, 63, 79, 0.02), 0px 5.01331px 9.19107px 0px rgba(61, 63, 79, 0.02), 0px 12px 22px 0px rgba(61, 63, 79, 0.03);

//SVG filters
$black-75-svg: brightness(0%) invert(22%) sepia(6%) saturate(1875%) hue-rotate(199deg) brightness(97%) contrast(82%);
$black-svg: brightness(0%) invert(6%) sepia(18%) saturate(3818%) hue-rotate(213deg) brightness(100%) contrast(109%);
$primary-blue-svg: brightness(0%) invert(19%) sepia(98%) saturate(3617%) hue-rotate(232deg) brightness(94%) contrast(98%);
$black-50-svg:brightness(0%) invert(52%) sepia(6%) saturate(584%) hue-rotate(202deg) brightness(96%) contrast(85%);




