@media screen and (max-width: 1024px) {}

@media screen and (max-width:860px) {}

@media screen and (max-width: 768px) {
   :root {
      font-size: 14px;
   }

   .support-link {
      display: none;
   }

   .sidebar {
      position: absolute;
      z-index: 1001;
      min-width: 45vw;
   }

   .sidebar.visible~.overlay {
      display: block;
   }

   .sidebar-page {
      padding: 1.2em 2em;
   }

   .logo {
      span {
         font-size: 1.2rem;
      }
   }

   .header.app {
      padding: 16px 24px;
   }


}

@media screen and (max-width: 580px) {
   .header.app {
      .logo {
         span {
            display: none;
         }
      }

      .header-switch {
         margin-right: .75em;
      }

      .header-sidebar-button {
         margin-right: 1.2em;
      }

      .header-user {
         &::after {
             border-left: 3px solid transparent;
             border-right: 3px solid transparent;
             border-top: 5.5px solid $primary-blue;
 
         }
     }

   }


}

@media screen and (max-width: 425px) {
   :root {
      font-size: 12px;
   }

   .header-button-login {
      display: none;
   }

   .header-container {
      padding: 24px 16px;
   }

   .header-logo {
      img {
         height: 28px;
      }
   }

   .content {
      padding: 0 16px;
   }

   .features-card {
      flex: 1 0 100%;
      margin-right: 0;
   }

   .footer-logo {
      img {
         height: 28px;
      }
   }

   .footer-nav {
      display: block;
   }

   .footer-links {
      margin-bottom: 32px;
   }

}

@media screen and (max-width: 380px) {
   .header.app{
      .logo{
         display: none;
      }
      
      .header-sidebar-button {
         margin-right: .75em;
      }

   }
}
