@font-face {
   font-family: 'Mariupol';
   src: url(fonts/Mariupol-Regular.ttf);
}
//--------------------
body {
   font-family: 'Mariupol', sans-serif;
}
//--------------------

h1,h2,h3,h4,h5,h6{
   line-height: 1.2;
}

h1{
   font-size: 4rem;
   font-weight: 700;
}

h2 {
   font-size: 3rem;
   font-weight: 700;
}

h3 {
   font-size: 2rem;
   font-weight: 500;
}

h4{
   font-size: 1.5rem;
   font-weight: 500;
}

h5{
   font-size: 1.125rem;
   font-weight: 700;
}

h6{
   font-size: 1rem;
   font-weight: 500;
}

//--------------------
@mixin body-1 {
   font-size: 1.125rem;
   font-weight: 400;
   line-height: 1.5;
}

@mixin body-2 {
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
}

//--------------------
@mixin button-1 {
   font-size: 1rem;
   font-weight: 600;
   line-height: 1.2;
}

@mixin button-2 {
   font-size: 0.875rem;
   font-weight: 600;
   line-height: 1.2;
}

@mixin button-3 {
   font-size: 0.75rem;
   font-weight: 500;
   line-height: 1.2;
}

@mixin link-1 {
   font-size: 0.875rem;
   line-height: 1.2;
}

@mixin link-2 {
   font-size: 0.875rem;
   font-weight: 600;
   line-height: 1.2;
}

@mixin link-3 {
   font-size: 0.875rem;
   font-weight: 600;
   line-height: 1.2;
   text-decoration: underline;
}