//Reset
@import "reset";
//--------------------
//Colors
@import "colors";
//--------------------
//Typography
@import "typography";
//--------------------
//--------------------
//Styles
html{
    height: 100%;
 }

 body{
    color: $black;
    background: #fff;
    max-width: 100vw;
    overflow-x: hidden;
 }

 .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @include body-1;

 }

 //Buttons
 .button-filled{
    border: 1px solid $primary-blue;
    background-color: $primary-blue;
    border-radius: 64px;
    color: $white;
    a{
        color: $white;
    }
 }

 .button-empty{
    border: 1px solid $primary-blue;
    border-radius: 64px;
    color: $primary-blue;
    a{
        color: $primary-blue;
    }
 }

//WWW

//Header
.header.www{
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    .support-link{
        @include link-1;
        margin-right: 2.5em;
        position: relative;
        padding: 0 0 0 1.5em;
        &::before{
            content: url("./assets/tryzub.svg");
            position: absolute;
            left: 0;
            top: -.4em;
        }
    }

    .header-cta{
        @include button-2;
        padding: .5em 1em;
        margin-right: 1em;
        &:last-child{
            margin-right: 0;
        }
    }
    
}

.logo{
    font-weight: 700;
    font-size: 1.4rem;
    user-select: none;
    position: relative;
    padding-left: 32px;
    text-transform: uppercase;
    &::before{
        content: url("./assets/logo.svg");
        position: absolute;
        top: .1em;
        left: 0;        
    }
}

//Hero
.hero-container{
    padding: 0 1em;
    margin: auto;
}
.hero{
    
    max-width: 50em;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    h4{
        font-weight: 700;
        color: $black-50;
    }
    h1{
        margin-bottom: 16px;
        span{
            background-color: $primary-yellow;
        }
    }
}

.hero-features{
    @include list;
    text-transform: uppercase;
    color: $black-50;
    display: flex;
    margin-bottom: 64px;
    li{
        position: relative;
        margin-right: 2em;
    }
    li:not(:last-child):after{
        content: "";
        width: 1px;
        height: .875em;
        position: absolute;
        bottom: .4em;
        right: -1em;
        background-color: $black-50;
    }
    li:last-child{
        margin-right: 0;
    }
}

.hero-cta{
    @include button-1;
    padding: .875em 2.65em;
}

//APP
.app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;    
    overflow: hidden;
}


.main{
    flex:  0 1 100%;
    display: flex;
}


.content{
    padding: 16px 32px;
}

//Header
.header.app{
    box-sizing: border-box;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-bottom: 1px solid $black-10;
    .header-sidebar-button{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-right: 1.8em;
        span{
           margin-bottom: 6px;
           width: 1.8em;
           height: .16em;
           background-color: $black;
           &:last-child{
              margin-bottom: 0;
           }
           transition: transform 0.3s ease;
     
        }
    }
    
    .header-left, .header-right{
        display: flex;
        align-items: center;
    }
    
    .header-switch{
        color: $primary-blue;
        @include link-2;
        margin-right: 1.65em;
    }
    
    .header-user{
        @include body-2;
    }
}

//Sidebar
.sidebar{
    height: 100%;
   padding: .5em 0;
   flex: 0 1 13em;
   background-color: #fff;
   border-right: 1px solid $black-10;
}

.sidebar-page{
    padding: .875em 2.5em;
    position: relative;
    display: flex;
    align-items: center;
    color: $black-75;

    img{
        width: 16px;
        height: 16px;
        margin-right: 16px;
        filter: brightness(0%) invert(55%) sepia(11%) saturate(295%) hue-rotate(202deg) brightness(91%) contrast(89%);
    }
}

.sidebar-page:hover{
    background-color: $black-5-60;
    &::before {
        content: "";
        width: 3px;
        height: 100%;
        background-color: $black-25;
        position: absolute;
        left: 0;
        top: 0;
    }
}


.sidebar-page.active {
    background-color: $blue-bg;
    color: $primary-blue;

    img{
        filter: brightness(0%) invert(18%) sepia(97%) saturate(5422%) hue-rotate(235deg) brightness(97%) contrast(101%);
    }

    &::before {
        content: "";
        width: 3px;
        height: 100%;
        background-color: $primary-blue;
        position: absolute;
        left: 0;
        top: 0;
    }
}

//Cabinet
.cabinet, .support, .news, .schedule{
    h3{
        margin-bottom: 16px;
    }
    p{
        color: $black-75;
    }
}


.cabinet{
    a{
        @include link-2;
        color: $secondary-blue;
    }
    p{
        &:last-of-type{
            margin-bottom: 32px;
        }
    }
}
//Support
.support{
    p{
        margin-bottom: 32px;
    }
}

.support-cta{
    @include button-2;
    padding: 0.65em 1.5em;
}

//News
.news{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.news-container{
    display: flex;
    justify-content: space-between;
}

.news-items{
    flex: 1 1 50%;
    margin-right: 4em;
}

.news-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $black-10;
    padding: 0 0 16px 0;
    margin-bottom: 16px;
    &:last-child{
        border-bottom: none;
        padding: 0;
        margin-bottom: 32px;
    }
    h4{
        font-weight: 700;
        margin-bottom: 8px;

    }
    p{
        margin-bottom: 8px;
    }
}
.news-item-date{
    color: $black-50;
    @include body-2;
    margin-bottom: 4px;
}

.news-item-image{
    margin-right: 1.75em;
    img{
        width: 12em;
        height: 8em;
        object-fit: cover;
    }
}

.news-item-view-more{
    @include link-2;
    color: $black-75;
}

.news-information{
    h5{
        margin-bottom: 32px;
    }
    ul{
        li{
            @include body-2;
            color: $black-75;
            border-bottom: 1px solid $black-10;
            padding: 16px 0;
            span{
                display: block;
            }
            strong{
                @include body-2-medium;
            }
            #email{
                @include link-2;
                
            }
            #telegram{
                @include link-1;
                position: relative;
                padding-left: 24px;
                &:before{
                    content: url("./assets/telegram.svg");
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 16px;
                    height: 16px;
                }

            }

            &:last-child{
                span:first-child{
                    margin-bottom: 16px;
                }
            }
        }
    }

    flex: 0 0 20%;
}

.news-pagination{
    display: flex;
    margin-top: auto;
}

.news-pagination-button{
    margin-top: auto;
    color: $black-75;
    width: 2.25em;
    height: 2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5em;
    img{
        width: 10px;
        filter: brightness(0%) invert(18%) sepia(97%) saturate(5422%) hue-rotate(235deg) brightness(97%) contrast(101%);
    }
}

.news-pagination-button.active{
    border: 1px solid $black-10;
    color: $primary-blue;
    box-shadow: $shadow-main;
    border-radius: 4px;
    @include body-1-medium;
}

//Schedule
.schedule-inputs{
    margin-bottom: 8px;
}

.schedule-tabs{
    border-bottom: 1px solid $black-10;
}

.schedule-tab{
    @include body-1-medium;
    margin-right: 4em;
    padding-bottom: 8px;
}

.schedule-tab.active{
    color: $primary-blue;
    font-weight: 700;
    border-bottom: 3px solid $primary-blue;
}

//Forms
@import "forms";

//Footer
.footer{
    margin-top: auto;
    padding: 16px 32px;
}

.copyright{
    @include body-2;
    color: $black-50;
}

//--------------------
//MEDIA QUERIES
@import "media";
